* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box; 
    list-style: none;   
}
h1 {
    color: ivory; 
    background-color: black;
    opacity: .85; 
    font-size: 1.5rem;
}
.question {
    background-color:ivory;
    font-size: 1.1rem;
}
strong {
    color: tomato;
    text-shadow: 0 1px 1px darkred ;
    font-size: 1.4rem;
    margin-bottom: 5px;
}
.solution {
    display: none;
    background-color: whitesmoke;
}
h3 {
    background-color:lightgray;
    padding: .5rem .5rem;
    margin-bottom: 5px;
    border: double 2px lightslategrey;
    border-radius: 3px;
}
p, a {
    color: black;
}
nav ol {
    list-style: none;
}
h1, h2, h3, .question {
    text-align: center;
}
    
h1, .question, .solution {
    border: double 2px gray;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 5px 10px 2px;
    box-shadow: 2px 1px 10px whitesmoke;
    animation: floating 10s infinite;
}

@keyframes floating {
    10% { transform: scale(1.01)}
    25% { transform: translatey(1.015); }
    50% { box-shadow: 1px 2px 8px whitesmoke; }
    75% { transform: translateX(1.015); }
    90% { transform: scale(1); }
    100% { box-shadow: -2px -1px 10px lightslategrey ; }

}
a {
    text-decoration: none;
    font-weight: bold;
}
ol li a:hover {
    text-decoration: underline;
    color: red;
    background-color: ivory;
    border-radius: 5px;
    padding: 0 5px;
    font-weight: lighter;
    border: dashed 1px red;
}
.buttons { 
    display: block;
    text-align: center;
}
button {
    padding: 5px 20px;
    margin: 5px;
    font-weight: bold;
}
button:hover, button:hover > a {
    background-color: black;
    color: ivory;
    opacity: .75;
    transition: .4s;
    cursor: pointer;
}

body {
    background-color: darkgoldenrod;
    animation: bgChange 20s infinite;
}
@keyframes bgChange {
    0% { background-color: darkgoldenrod; }
    25% { background-color: steelblue;}
    50% { background-color: goldenrod; }
    90% { background-color: steelblue; }
    100% { background-color: darkgoldenrod; }
}
